
.vs/quizserver/FileContentIndex/22f0ca2a-fd48-4e8d-9711-4c57adbe89c7.vsidx
.vs/ProjectEvaluation/quizserver.metadata.v5.1
.vs/ProjectEvaluation/quizserver.projects.v5.1
.vs/quizserver/FileContentIndex/5b261dd0-fe31-4340-a766-661338644ae4.vsidx
.vs/quizserver/FileContentIndex/7f7afd14-ca6a-4826-9b14-5f57a40af020.vsidx
.vs/quizserver/FileContentIndex/8808e5bc-5461-41ab-938a-4ef6c91655ba.vsidx
.vs/quizserver/v17/.futdcache.v2
.vs/quizserver/v17/.suo
.vs/quizserver/FileContentIndex/f0059345-6f47-431e-b01c-c9b93ec93817.vsidx
.vs/quizserver/FileContentIndex/139892c1-2a0f-4adf-b623-c1e077afb1d0.vsidx
.vs/quizserver/FileContentIndex/91e0588d-b048-4717-8338-099c401d667d.vsidx
.vs/quizserver/FileContentIndex/e1143beb-9e6f-4d9e-b076-52a2c223b2c0.vsidx
*.vsidx
.vs/ProjectEvaluation/quizserver.metadata.v5.1
.vs/ProjectEvaluation/quizserver.metadata.v5.1
